 /* List组件 */
 .ant-list-header{
    display: flex;
    align-items: flex-end;
    color: var(--color-8);
}
.ant-list-header div:nth-child(1){
    margin-right: 2rem;
    font-size: 1.8rem;
}
.ant-list-header div:not(:first-child){
    cursor: pointer;
    padding-bottom: 0.2rem;
    font-size: 1.4rem;
    margin: 0 1rem;
    color: #AAA;
}
.ant-list-header div:not(:first-child):hover{
    color: var(--color-9);
}
.ant-list-header .listactive{
    color: #1e90ff !important;
    font-weight: bold;
    border-bottom: 2px solid #1e90ff;
}

  .list-title{
    padding: 0.8rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-9);
  }
  .list-icon{
    padding-bottom: 0.5rem ;
    /* padding-left: 0.8rem; */
  }
  .ant-list-item{
    padding: 0 1rem;
    cursor: pointer;
    color: var(--color-8);
  }
  .list-title a{
    font-size: 1.8rem;
    color: var(--color-9);
  }
  .list-context{
    padding-bottom: 1rem;
  }
  .ant-list-item:hover .list-title a{
    color: #1e90ff;
  }
  .ant-space{
    color: #AAA;
    margin-right: 1.5rem;
  }
  /* List组件 */
