
  .theme-switcher{
    z-index: 999;
    position: absolute;
    right: 75px;
    top: 14px;
  }
  .theme-switcher input{
    width: 0;
    height: 0;
    display: none;
    visibility: hidden;
  }
  .theme-switcher label{
    cursor: pointer;
    display: block;
    text-indent: -9999px;
    height: 30px;
    width: 60px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    transition: .5s ease background-color;
    border: 2px solid rgb(34, 30, 30);
  }
  .theme-switcher label::after{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50px;
    top: 50%;
    left: 5px;
    transform: translateY( -50%);
    background-color: rgb(46, 42, 68);
    transition: .5s ease;
  }
  .theme-switcher input:checked + label::after{
    left: calc(100% - 25px);
    background-color: aliceblue;
  }
  .theme-switcher input:checked + label{
    background-color: rgb(25, 26, 37);
    border: 2px solid whitesmoke;
  }